* {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

body {
    background-color: black;
}

.header {
    position: relative;
    border: 2px solid white;
    margin: 30px auto;
    padding: 10px;
    width: 80%;
    height: 60px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 10px;
}

.header h1 {
    position: absolute;
    font-size: 40px;
    top: 15px;
    left: 25px;
}

.btnHeader {
    position: absolute;
    border-radius: 100%;
    border: 1px solid black;
}
/*Div github*/
#githubdiv {
    top: 15px; 
    right: 150px;
    cursor: pointer;
}
/*Imagen*/
#github{
    width: 50px; 
    height: 50px;
    border-radius: 100%;
}

#contactdiv {
    top: 15px;
    right: 85px;
    cursor: pointer;
}
#contact {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#maildiv {
    top: 15px;
    right: 20px;
    cursor: pointer;
}
#mail{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.btnHeader.active::before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    position: absolute;
    top: 50px;
    right: 17px;
}

#usuario {
    border: 1px solid white;
    margin: auto;
    padding: 20px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    width: 20%;
    height: 300px;
    position: relative;
}
form {
    text-align: center;
}

@keyframes entra{
    from {
        transform: translateY(-200);
    }
    to {
        transform: translate(0);
    }
}

.field {
    padding: 10px;
    border: none;
}

#btn-start {
    position: absolute;
    padding: 10px;
    top: 270px;
    left: calc(50% - 60px);
    font-family: 'Press Start 2P', cursive
}

#canva {
    border: 1px solid white;
}

.juego {
    margin: 20px auto;
    text-align: center;
    
}

.gitdiv.active {
    background-color: white;
    text-align: center;
    font-size: 11px;
    border-radius: 3px;
    color: black;
    height: 30px;
    width: 110px;
    position: absolute;
    top: 80px;
    right: 125px;
}

.gitdiv a {
    text-decoration: none;
    color: black
}

.contdiv.active {
    background-color: white;
    text-align: center;
    font-size: 11px;
    border-radius: 3px;
    color: black;
    height: 30px;
    width: 130px;
    position: absolute;
    top: 80px;
    right: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contdiv {
    color: transparent;
}
.contdiv i{
    font-size: 15px;
    text-align: left;
}

.madiv.active {
    background-color: white;
    text-align: center;
    font-size: 10px;
    border-radius: 3px;
    color: black;
    height: 30px;
    width: 260px;
    position: absolute;
    top: 80px;
    right: -70px;
}

.madiv a {
    text-decoration: none;
    color: black
}